/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Clearfix */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

header{
    max-width: 100%;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}

.row1_header{
    max-width: 600px;
    /* border: 1px solid blue; */
    padding: 0 30px;
    float: left;
}

.row1_header .logo_header{
    width: 86px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}    

.row1_header .menu_header{
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
}

.menu_header li{
    list-style: none;
    display: inline-block;
} 

.menu_header li a{
    padding: 0px 10px;
    text-decoration: none;
    color: currentColor;
}

.row2_header{
    max-width: 550px;
    /* border: 1px solid blue; */
    padding: 0 30px;
    float: right;

}

.button_header{
    display: inline-block;
}

.menu_header #button_header{
    padding: 5px;
    background-color: #0061FF;
    color: white;
}

.row2_header .menu_header{
    padding: 5px 0;
}

section.bkg_blu_chiaro{
    max-width: 100%;
    background-color: #B4D0E7;
    padding: 50px 0;
}

.wrapper_section1{
    width: 1070px;
    /* border: 1px solid magenta; */
    margin: 0 auto;
}

.wrapper_section1 h1{
    font-size: calc(40px + 1vw);
    font-weight: bold;
    margin-bottom: 30px;
}

.text_section1{
    max-width: 392px;
    /* border: 1px solid blue; */
    float: left;
}

.text_section1 p{
    margin-bottom: 20px;
}

.text_section1 .button_blue_large{
    margin-bottom: 10px;
}

.button_blue_large{
    width: 250px;
    background-color: #0061FF;
    padding: 10px;
    
}

.button_blue_large a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

#arrow_down{
    font-size: 50px;
    font-weight: bold;
}

.img_section1{
    max-width: 670px;
    /* border: 1px solid yellowgreen; */
    float: left;
}

.img_section1 img{
    width: 100%;
}