/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Clearfix */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* Hover */
.menu_header li:hover a{
    text-decoration: underline;
}

.button_blue_large:hover{
    background-color: #3B85FF;
}

.button_blue_large.full-width:hover{
    background-color: #3B85FF;
}

.contact_details a:hover{
    background-color: #3B85FF;
}


/* ------------------------- */

header{
    max-width: 100%;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}

.row1_header{
    max-width: 600px;
    /* border: 1px solid blue; */
    padding: 0 30px;
    float: left;
}

.row1_header .logo_header{
    width: 86px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}    

.row1_header .menu_header{
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
}

.menu_header li{
    list-style: none;
    display: inline-block;
} 

.menu_header li a{
    padding: 0px 10px;
    text-decoration: none;
    color: currentColor;
}

.row2_header{
    max-width: 550px;
    /* border: 1px solid blue; */
    padding: 0 30px;
    float: right;

}

.button_header{
    display: inline-block;
}

.menu_header #button_header{
    padding: 5px;
    background-color: #0061FF;
    color: white;
}

.row2_header .menu_header{
    padding: 5px 0;
}

section.bkg_blu_chiaro{
    max-width: 100%;
    background-color: #B4D0E7;
    padding: 50px 0;
}

.wrapper_section1{
    width: 1070px;
    /* border: 1px solid magenta; */
    margin: 0 auto;
}

.wrapper_section1 h1{
    font-size: calc(40px + 1vw);
    font-weight: bold;
    margin-bottom: 30px;
}

.text_section1{
    max-width: 392px;
    /* border: 1px solid blue; */
    float: left;
}

.text_section1 p{
    margin-bottom: 20px;
}

.text_section1 .button_blue_large{
    margin-bottom: 10px;
}

.button_blue_large{
    width: 250px;
    background-color: #0061FF;
    padding: 10px;
    text-align: center;
}

.button_blue_large a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.img_section1{
    max-width: 670px;
    /* border: 1px solid yellowgreen; */
    float: left;
}

.img_section1 img{
    width: 100%;
}

.container_subscriptions{
    width: 1000px;
    /* border: 1px solid orange; */
    margin: 30px auto;
}

.row_1_section2{
    width: 700px;
    /* border: 1px solid magenta; */
}

.row_1_section2 h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.row_1_section2 span{
    margin-right: 15px;
}

.row_2_section2{
    width: 100%;
    /* border: 1px solid magenta; */
    margin-top: 30px;
    margin-bottom: 40px;
}

.col_1-3{
    float: left;
    width: 33.33%;
    /* border: 1px solid grey; */
}

.col_1-3 .title_col{
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.type_subscriptions{
    width: 300px;
    min-height: 1150px;
    border: 1px solid grey;
    margin: 0 auto;
}


.type_subscriptions h2{
    font-size: 28px;
    margin-bottom: 15px;
}

.type_subscriptions .price{
    font-weight: bold;
    margin-bottom: 10px;
}

.type_subscriptions .price_details{
    color: grey;
    margin-bottom: 40px;
}

.col_1-3 ul li{
    list-style: none;
    margin-bottom: 30px;
}

.col_1-3 ul li:last-child{
    margin-bottom: 0;
}

.col_1-3 ul{
    margin-bottom: 40px;
}

.button_blue_large.full-width{
    width: 100%;
    background-color: #0061FF;
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.button_blue_large.full-width a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.type_subscriptions .shop_now::after{
    content: '';
    display: block;
    height: 1px;
    width: 29px;
    background-color: grey;
    margin-top: 30px;
}

.col_1-3 .footer_col{
    width: 300px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 40px;
}

.footer_col h4{
    margin-bottom: 25px;
}

.footer_col ul li i{
    color: #0061FF;
}

.contact_subscriptions{
    width: 1000px;
    border: 1px solid grey;
    margin-bottom: 60px;
}

.contact_subscriptions .title_contact{
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
}

.contact_subscriptions h2{
    font-size: 24px;
    margin-bottom: 15px;
}

.contact_subscriptions h4{
    margin-bottom: 25px;
}

.contact_subscriptions a{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #0061FF;
    color: white;
    position: absolute;
    top: 0;
    right: 30px;
}

.contact_subscriptions .contact_details{
    width: 100%;
    position: relative;
    padding: 10px 25px;
}

.wrapper_section{
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid orange; */
    margin-bottom: 100px;
}

.wrapper_img{
    width: 50%;
    /* border: 1px solid blue; */
    float: left;
    margin-right: 45px;
}

.wrapper_img img{
    width: 100%;
    display: block;
}

.wrapper_description{
    width: 45%;
    /* border: 1px solid magenta; */
    float: left;
    margin-top: 40px;
}

.wrapper_description h4{
    font-size: 24px;
    margin-bottom: 25px;
}

.wrapper_description p{
    margin-bottom: 20px;
}

.button_wrapper{
    border: 2px solid black;
    padding: 5px;
    width: 180px;
    text-align: center;
}

.button_wrapper a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.title_wrapper{
    width: 60%;
    padding: 20px 0;
    /* border: 1px solid blue; */
    margin-bottom: 30px;
}

.wrapper_section .title_wrapper h4{
    font-size: 24px;
}

.row_1_section4{
    width: 100%;
    /* border: 1px solid green; */
}

.cards_section4{
    width: calc(33.33% - 20px);
    /* border: 1px solid grey; */
    float: left;
    margin-bottom: 120px;
}

.img_cards_section4{
    width: 100%;
}

.img_cards_section4 img{
    width: 100%;
}

.descriptions_cards{
    width: 100%;
    /* border: 1px solid red; */
}

.descriptions_cards h5{
    font-size: 20px;
    margin-bottom: 10px;
}

.descriptions_cards p a{
    color: currentColor;
}

.cards_section4.m-l-r20{
    margin: 0 30px;
    margin-bottom: 0;
}

.cards_section4.m-b0{
    margin-bottom: 0;
}

.row1_section5{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.title_section5{
    width: 380px;
    /* border: 1px solid magenta; */
}

.title_section5 h5{
    font-size: 26px;
    margin-bottom: 15px;
}

.title_section5 a{
    color: blue;
}

.row2_section5{
    max-width: 100%;
    background-color: #f5f5f5;
    /* border: 1px solid green; */
}


.col_w25{
    width: 25%;
    /* border: 1px solid red; */
    float: left;
}

.col_w50{
    width: 50%;
    /* border: 1px solid blueviolet; */
    float: left;
}

.wrapper_col_w50{
    width: 85%;
    /* border: 1px solid orangered; */
    margin: 30px auto;
}

.col_w25 .square_xs{
    width: calc(100% / 2);
    min-height: 210px;
    float: left;
    position: relative;
}

.square_xs img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

#bkg_green{
    border: 10px solid #d0e9cd;
    background-color: #a2d39b;
}

#bkg_plum{
    background-color: #61082b;
}

#bkg_turquoise{
    background-color: #0093ce;
}

#bkg_red{
    background-color: #ff1c1c;
}

#bkg_lblue{
    background-color: #b4d0e7;
}

#bkg_dblue{
    background-color: #0d2481;
}

#bkg_gold{
    background-color: #ffd830;
}

.col_w50 .logo{
    width: 20%;
    /* border: 1px solid red; */
}

.col_w50 .logo img{
    width: 100%;
}

.col_w50 .logo::after{
    content: '';
    display: block;
    height: 1px;
    width: 29px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.col_w50 .wrapper_col_w50 p{
    margin-bottom: 50px;
}

.row3_section5{
    max-width: 100vw;
    background-color: #b4d0e7;
    padding: 100px 0;
}

.description_section5{
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.description_section5 h5{
    font-size: 35px;
    color: #61082b;
    float: left;
}

.description_section5 a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 50px;
    float: right;
}

.questions{
    width: 1000px;
    /* border: 1px solid red; */
    margin: 100px auto;
    padding: 10px;
}

.questions h5{
    font-size: 30px;
    margin-bottom: 30px;
}

.questions ul li{
    list-style: none;
    font-weight: bold;
    margin-bottom: 30px;
}

.questions ul li i{
    float: right;
    margin-right: 20px;
}

.questions ul li::after, .questions h5::after{
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #dedee0;
    margin-top: 30px;
}

footer{
    max-width: 100vw;
    background-color: #000000;
    color: white;
    padding: 100px 0;
}

.row1_footer{
    max-width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

.row1_footer .col-1{
    width: calc(100% / 5);
    /* border: 1px solid blue; */
    float: left;
}

.col-1 ul h5{
    font-size: 20px;
    margin-bottom: 20px;
}

.col-1 ul li{
    list-style: none;
    margin-bottom: 10px;
}

.col-1 ul li a{
    text-decoration: none;
    color: currentColor;
    font-size: 14px;
}

.row1_footer:first-child::after{
    content: '';
    display: block;
    clear: both;
    width: 120px;
    height: 2px;
    background-color: #737373;
}

.row1_footer:first-child .col-1 ul:last-child{
    margin-bottom: 80px;
}

.row2_footer{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid magenta; */
    color: #737373;
}